
<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en-US" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-US" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-US" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en-US" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PandoHR</title>
  <meta name="description" content="PandoHR">
  <link data-turbolinks-track="true" href="assets/application-9919e436dcefd28bb0e7e9e74662e8b2.css" rel="stylesheet" />
  <script data-turbolinks-track="true" src="assets/modernizr-670dca5c9a69edef4fb67c83313ab8a2.js"></script>
  <script data-turbolinks-track="true" src="assets/application-675764c087412970c3080e80c5435a93.js"></script>
  <script src="assets/i18n-c8c4770da28ebfa53fe2d07912a15b81.js"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="chgmMfyxnwtOVgAhPIUjpix/qwwuOy9wVKaLrYdozXU=" name="csrf-token" />
</head>
<body>
  <main role="main">
    <div class="wrapper">
      <aside>
        <a class="brand-logo" href="/">
        <div class="logo-container">
          <img alt="Gfx logo" class="img-responsive" src="assets/gfx-logo-0d7750bef51e35a24097952e864b9efa.png" />
        </div>
</a>
        <nav class="sidebar-nav">
          <ul>
            <li><a href="/employees/dashboard"><i class="pi pi-home"></i><span>HOME</span></a></li>
            <li><a href="/timeoff_policies"><i class="pi pi-office"></i><span>COMPANY</span></a></li>
            <li><a href="/companies/calendar"><i class="pi pi-calendar"></i><span>CALENDAR</span></a></li>
            <li><a href="/tasks"><i class="pi pi-tasks"></i><span>TASKS</span></a></li>
            <li><a href="/users/edit"><i class="pi pi-assignment-ind"></i><span>YOU</span></a></li>
          </ul>
        </nav>
      </aside>
      <div class="content">
        <header>
          <!-- <a href="javascript:;" class="sidebar-toggle pull-left"><i class="pi pi-menu"></i><i class="pi pi-arrow-forward"></i></a> -->
  <div class="dropdown pull-right">
    <a href="javascript:;" class="dropdown-toggle">
      <div class="avatar">
        <div class="avatar-img">
          <img alt="Img avatar default" class="img-circle" src="assets/img-avatar-default-260a8052d578fb8e8b22040a3299183a.png" />
          <div class="avatar-initials">ZZ</div>
        </div>
         Ziwei Zhou<span class="caret"></span>
      </div>
    </a>
    <div class="dropdown-menu">
      <div class="arrow"></div>
      <ul>
            <li><a href="/admin">Admin</a></li>
        <li><a href="/users/edit">Edit account</a></li>
        <li><a data-method="delete" href="/users/sign_out" rel="nofollow">Sign out</a></li>
      </ul>
    </div>
  </div>

        </header>
        <div class="main-content">



<div ng-cloak="true" ng-controller="TaskDetailCtrl" ng-init="task = null; hours = null">
  <div class="sticky-header">
    <div class="content-wrapper">
      <div class="breadcrumb">
        <a href="/tasks"><i class='pi pi-arrow-back'></i> <span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.back_to_tasks">Back To Tasks</span></a>
      </div>
      <div class="page-actions">
        <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="approveTask()"><span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.approve">Approve</span></a>
        <div class="dropdown">
          <a class="btn btn-sm btn-secondary dropdown-toggle" href="javascript:void(0)" ng-click="editParentTask()"> <span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.assign_to">Assign To</span> <span class="caret"></span></a>
        </div>
        <div class="btn-group">
          <a class="btn btn-sm btn-secondary-light" href="javascript:;"><i class="pi pi-chevron-left"></i></a>
          <a class="btn btn-sm btn-secondary-light" href="javascript:;"><i class="pi pi-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="pages tasks">
    <div class="heading" ng-hide="hasEditParentTask">
      <span class="circle-icon icon-money" ng-show="task.task_type == 'TravelTask'"></span>
      <span class="circle-icon icon-suitcase hide" ng-show="task.task_type == 'ExpenseTask'"></span>
      <span class="circle-icon icon-medical hide" ng-show="task.task_type == 'TimeoffTask'"></span>
      <a class="link-gray pull-right link-edit" href="javascript:void(0)" ng-click="editParentTask()"><i class='pi pi-edit'></i> <span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.edit">Edit</span></a>
      <h2>Expense Task</h2>
      <span class="task-detail-description">Task Description</span><br>
      <span class="task-detail-duration">01/01/2015 <span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.to">To</span> 01/01/2015</span><br>
      <h4 class="status-label"><span class="label label-pending">PENDING</span></h4>
      <div class="attributes">
        <span><i class="pi pi-clock"></i> 2 minutes ago</span>
        <span><i class="pi pi-person"></i> <span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.submitted_by">Submitted By</span>
          <a href="#">Author</a>
        </span>
        <span><i class="pi pi-person"></i> <span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.assigned_to">Assigned To</span>
          <a href="#">Assignee</a>
        </span>
        <span><i class="pi pi-person"></i> <span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.request_for">Request For</span>
          <a href="#">User</a>
        </span>
      </div>
    </div>
    <div class="block block-secondary">
  <div class="block-body">
    <div class="form-group">
      <div class="col-xs-6">
        <label>Title</label>
        <input type="text" class="form-control" />
      </div>
      <div class="col-xs-6">
        <label>Description</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-6">
            <label>From</label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <label>To</label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <label>Who is approving this?</label>
        <select class="form-control selectpicker">
          <option>Select</option>
          <option>Ziwei Zhou</option>
          <option>Takashi Obatake</option>
          <option>Audrey Pang</option>
        </select>
      </div>
      <div class="col-xs-6">
        <label>Who is this request for?</label>
        <select class="form-control selectpicker">
          <option>Select</option>
          <option>Ziwei Zhou</option>
          <option>Takashi Obatake</option>
          <option>Audrey Pang</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="pull-left">
          <a href="javascript:void(0);" class="btn btn-sm btn-primary">Submit for Approval</a>
          <a href="javascript:void(0);" class="btn btn-sm btn-orange">Save as Draft</a>
          <a href="javascript:void(0);" class="btn btn-link link-gray" onClick={this.props.toggleEdit}>Cancel</a>
        </div>
        <div class="pull-right">
          <a href="javascript:void(0);" class="btn btn-link link-gray"><i class="pi pi-trash-o text-danger"></i>Delete Request</a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="confirm-submission">
          <div class="row">
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="Enter Your Full Name as Signature" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <label class="checkbox-inline"><input type="checkbox" class="pull-left" />
          I declare that the above expenses have been reasonably and actually
          incurred by me in fulfilling my responsibilities as an employee of Fitch.
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-sm btn-green">Confirm and Submit</button>
      </div>
    </div>
  </div>
</div>


    <!-- Task Edit -->

    <!-- End Task Edit -->

    <!-- Task Detail Partials -->
    <div class="expense-detail">
  <div class="fade" active-class="in alert" flash-alert="success">
    <span class="alert-message">
      {{flash.message}}
    </span>
  </div>
  <div class="action-menu">
    <div class="pull-left">
      <form class="form-inline">
        <!-- TODO: filter by -->
        <div class="form-group mb0"><label><span class="translation_missing" title="translation missing: en.visitors.static_expense_detail.filter_by">Filter By</span></label> <select class="form-control" ng-model="sortBy" ng-options="filter.value as filter.label for filter in filterExpenseList" ng-change="sortTask()">
        </select></div>
      </form>
    </div>
    <div class="btn-group pull-right"><button class="btn btn-default active pi pi-table" type="button"></button> <button class="btn btn-default pi pi-spinner" type="button"></button></div>
  </div>
  <div class="table-view no-border">
    <table id="expense-detail-table" class="table table-bordered" ng-table="tableTaskParams" template-pagination="custom/pager">
      <thead>
        <tr>
          <th><span class="translation_missing" title="translation missing: en.visitors.static_expense_detail.status">Status</span></th>
          <th><span class="translation_missing" title="translation missing: en.visitors.static_expense_detail.date">Date</span></th>
          <th><span class="translation_missing" title="translation missing: en.visitors.static_expense_detail.category">Category</span></th>
          <th><span class="translation_missing" title="translation missing: en.visitors.static_expense_detail.description">Description</span></th>
          <th class="text-right"><span class="translation_missing" title="translation missing: en.visitors.static_expense_detail.amount">Amount</span></th>
        </tr>
      </thead>
      <tbody>
        <!-- ***********************************************************************

        NOTE: Inject _form_row_edit partial on edit, remove when done editing.
        Do this for all row edits.

        ************************************************************************ -->
        <!-- // End _form_row_edit partial -->
        <tr ng-click="editTask(ct)" class="edit-task">
          <!-- todo: status' corresponding icons -->
          <td><i class="pi pi-check-circle-o"></i></td>
          <td>1/12/2015</td>
          <td><span>Category Name</span></td>
          <td>Memo</td>
          <td class="amount"><span>$100.00</span><br>
            <span class="text-muted">$100.00@1.0000</span><a class="td-edit" href="javascript:;"></a>
          </td>
        </tr>
        <tr class="form-row-edit" ng-show="hasEditing">
  <td colspan="5">
    <div class="block block-secondary">
      <form>
        <div class="form-group">
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.date">Date</span></label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control" bs-datepicker data-date-format="yyyy-MM-dd" ng-model="editingTask.start_at">
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.expense_type">Expense Type</span></label>
            <select class="form-control selectpicker" data-container="body" ng-model="editingTask.details.category" ng-options="expense.value as expense.label for expense in expenseTypeList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select">Select</span></option>
            </select>
          </div>
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.purpose">Purpose</span></label>
            <select class="form-control selectpicker" ng-model="editingTask.details.purpose" ng-options="purpose.value as purpose.label for purpose in purposeList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select_one">Select One</span></option>
            </select>
          </div>
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.payment_type">Payment Type</span></label>
            <select class="form-control selectpicker" ng-model="editingTask.details.payment" ng-options="payment.value as payment.label for payment in paymentTypeList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select">Select</span></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2">
            <label class="currency"><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.currency">Currency</span></label>
            <select class="form-control selectpicker" data-container="body" ng-model="editingTask.details.currency" ng-options="currency.value as currency.label for currency in currencyList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select">Select</span></option>
            </select>
          </div>
          <div class="col-xs-2">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.rate">Rate</span></label>
            <input type="text" class="form-control" ng-model="editingTask.details.rate">
          </div>
          <div class="col-xs-2">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.amount">Amount</span></label>
            <input type="text" class="form-control" ng-model="editingTask.details.amount">
          </div>
          <div class="col-xs-6">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.attachment">Attachment</span></label>
            <div class="input-file" ng-file-select ng-multiple="true" ng-file-change="onFileSelect($files)">
              <span class="custom-file-name">{{fileUploadName}}</span>
              <span class="btn btn-sm btn-upload">
                <span class="translation_missing" title="translation missing: en.visitors.form_row_edit.upload">Upload</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.memo">Memo</span></label>
            <textarea rows="2" class="form-control" ng-model="editingTask.details.memo"></textarea>
          </div>
        </div>
        <div class="form-group mb0">
          <div class="col-xs-12">
            <div class="pull-left">
                <button type="submit" class="btn btn-sm btn-primary" ng-click="updateEditingTask(editingTask.id)" ng-hide="editingTask.workflow_state == 'paid'">Save</button>
                <button class="btn btn-sm btn-green" ng-show="editingTask.workflow_state == 'pending'" ng-click="paidExpenseDetail(editingTask.id)">
                  <span class="translation_missing" title="translation missing: en.visitors.form_row_edit.paid">Paid</span>
                </button>
              <a href="javascript:;" class="btn link-gray btn-link link-cancel" ng-click="cancelEditing()">Cancel</a>
            </div>
            <div class="pull-right">
                <a class="btn btn-link link-gray btn-delete-entry" href="javascript:;" ng-click="deleteDetailTask(editingTask.id)" ng-hide="editingTask.workflow_state == 'paid'"><i class="pi pi-trash-o text-danger"></i><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.delete_entry">Delete Entry</span></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </td>
</tr>
        <tr ng-click="editTask(ct)" class="edit-task">
          <!-- todo: status' corresponding icons -->
          <td><i class="pi pi-check-circle-o"></i></td>
          <td>1/12/2015</td>
          <td><span>Category Name</span></td>
          <td>Memo</td>
          <td class="amount"><span>$100.00</span><br>
            <span class="text-muted">$100.00@1.0000</span><a class="td-edit" href="javascript:;"></a>
          </td>
        </tr>
        <tr class="form-row-edit" ng-show="hasEditing">
  <td colspan="5">
    <div class="block block-secondary">
      <form>
        <div class="form-group">
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.date">Date</span></label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control" bs-datepicker data-date-format="yyyy-MM-dd" ng-model="editingTask.start_at">
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.expense_type">Expense Type</span></label>
            <select class="form-control selectpicker" data-container="body" ng-model="editingTask.details.category" ng-options="expense.value as expense.label for expense in expenseTypeList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select">Select</span></option>
            </select>
          </div>
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.purpose">Purpose</span></label>
            <select class="form-control selectpicker" ng-model="editingTask.details.purpose" ng-options="purpose.value as purpose.label for purpose in purposeList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select_one">Select One</span></option>
            </select>
          </div>
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.payment_type">Payment Type</span></label>
            <select class="form-control selectpicker" ng-model="editingTask.details.payment" ng-options="payment.value as payment.label for payment in paymentTypeList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select">Select</span></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2">
            <label class="currency"><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.currency">Currency</span></label>
            <select class="form-control selectpicker" data-container="body" ng-model="editingTask.details.currency" ng-options="currency.value as currency.label for currency in currencyList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select">Select</span></option>
            </select>
          </div>
          <div class="col-xs-2">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.rate">Rate</span></label>
            <input type="text" class="form-control" ng-model="editingTask.details.rate">
          </div>
          <div class="col-xs-2">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.amount">Amount</span></label>
            <input type="text" class="form-control" ng-model="editingTask.details.amount">
          </div>
          <div class="col-xs-6">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.attachment">Attachment</span></label>
            <div class="input-file" ng-file-select ng-multiple="true" ng-file-change="onFileSelect($files)">
              <span class="custom-file-name">{{fileUploadName}}</span>
              <span class="btn btn-sm btn-upload">
                <span class="translation_missing" title="translation missing: en.visitors.form_row_edit.upload">Upload</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.memo">Memo</span></label>
            <textarea rows="2" class="form-control" ng-model="editingTask.details.memo"></textarea>
          </div>
        </div>
        <div class="form-group mb0">
          <div class="col-xs-12">
            <div class="pull-left">
                <button type="submit" class="btn btn-sm btn-primary" ng-click="updateEditingTask(editingTask.id)" ng-hide="editingTask.workflow_state == 'paid'">Save</button>
                <button class="btn btn-sm btn-green" ng-show="editingTask.workflow_state == 'pending'" ng-click="paidExpenseDetail(editingTask.id)">
                  <span class="translation_missing" title="translation missing: en.visitors.form_row_edit.paid">Paid</span>
                </button>
              <a href="javascript:;" class="btn link-gray btn-link link-cancel" ng-click="cancelEditing()">Cancel</a>
            </div>
            <div class="pull-right">
                <a class="btn btn-link link-gray btn-delete-entry" href="javascript:;" ng-click="deleteDetailTask(editingTask.id)" ng-hide="editingTask.workflow_state == 'paid'"><i class="pi pi-trash-o text-danger"></i><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.delete_entry">Delete Entry</span></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </td>
</tr>
        <tr ng-click="editTask(ct)" class="edit-task">
          <!-- todo: status' corresponding icons -->
          <td><i class="pi pi-check-circle-o"></i></td>
          <td>1/12/2015</td>
          <td><span>Category Name</span></td>
          <td>Memo</td>
          <td class="amount"><span>$100.00</span><br>
            <span class="text-muted">$100.00@1.0000</span><a class="td-edit" href="javascript:;"></a>
          </td>
        </tr>
        <tr class="form-row-edit" ng-show="hasEditing">
  <td colspan="5">
    <div class="block block-secondary">
      <form>
        <div class="form-group">
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.date">Date</span></label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control" bs-datepicker data-date-format="yyyy-MM-dd" ng-model="editingTask.start_at">
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.expense_type">Expense Type</span></label>
            <select class="form-control selectpicker" data-container="body" ng-model="editingTask.details.category" ng-options="expense.value as expense.label for expense in expenseTypeList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select">Select</span></option>
            </select>
          </div>
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.purpose">Purpose</span></label>
            <select class="form-control selectpicker" ng-model="editingTask.details.purpose" ng-options="purpose.value as purpose.label for purpose in purposeList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select_one">Select One</span></option>
            </select>
          </div>
          <div class="col-xs-3">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.payment_type">Payment Type</span></label>
            <select class="form-control selectpicker" ng-model="editingTask.details.payment" ng-options="payment.value as payment.label for payment in paymentTypeList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select">Select</span></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2">
            <label class="currency"><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.currency">Currency</span></label>
            <select class="form-control selectpicker" data-container="body" ng-model="editingTask.details.currency" ng-options="currency.value as currency.label for currency in currencyList">
              <option value=""><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.select">Select</span></option>
            </select>
          </div>
          <div class="col-xs-2">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.rate">Rate</span></label>
            <input type="text" class="form-control" ng-model="editingTask.details.rate">
          </div>
          <div class="col-xs-2">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.amount">Amount</span></label>
            <input type="text" class="form-control" ng-model="editingTask.details.amount">
          </div>
          <div class="col-xs-6">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.attachment">Attachment</span></label>
            <div class="input-file" ng-file-select ng-multiple="true" ng-file-change="onFileSelect($files)">
              <span class="custom-file-name">{{fileUploadName}}</span>
              <span class="btn btn-sm btn-upload">
                <span class="translation_missing" title="translation missing: en.visitors.form_row_edit.upload">Upload</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.memo">Memo</span></label>
            <textarea rows="2" class="form-control" ng-model="editingTask.details.memo"></textarea>
          </div>
        </div>
        <div class="form-group mb0">
          <div class="col-xs-12">
            <div class="pull-left">
                <button type="submit" class="btn btn-sm btn-primary" ng-click="updateEditingTask(editingTask.id)" ng-hide="editingTask.workflow_state == 'paid'">Save</button>
                <button class="btn btn-sm btn-green" ng-show="editingTask.workflow_state == 'pending'" ng-click="paidExpenseDetail(editingTask.id)">
                  <span class="translation_missing" title="translation missing: en.visitors.form_row_edit.paid">Paid</span>
                </button>
              <a href="javascript:;" class="btn link-gray btn-link link-cancel" ng-click="cancelEditing()">Cancel</a>
            </div>
            <div class="pull-right">
                <a class="btn btn-link link-gray btn-delete-entry" href="javascript:;" ng-click="deleteDetailTask(editingTask.id)" ng-hide="editingTask.workflow_state == 'paid'"><i class="pi pi-trash-o text-danger"></i><span class="translation_missing" title="translation missing: en.visitors.form_row_edit.delete_entry">Delete Entry</span></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </td>
</tr>
      </tbody>
    </table>
  </div>
  <div class="dropdown"><a class="dropdown-toggle" href="javascript:void(0)"><i class='pi pi-plus'></i> <span class="translation_missing" title="translation missing: en.visitors.static_expense_detail.add_new_entry">Add New Entry</span> <i class='pi pi-arrow-drop-down'></i></a>
    <div class="dropdown-menu">
      <div class="arrow"></div>
      <ul>
        <li ng-click="newEntryManual()"><a href="javascript:void(0)"><span class="translation_missing" title="translation missing: en.visitors.static_expense_detail.manual_entry">Manual Entry</span></a></li>
        <li ng-click="newEntryImport()"><a href="javascript:void(0)"><span class="translation_missing" title="translation missing: en.visitors.static_expense_detail.import">Import</span></a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="block block-secondary" ng-show="hasAddNew">
  <form>
    <div class="form-group">
      <div class="col-xs-3">
        <label><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.date">Date</span></label>
        <div class="input-group">
          <div class="input-icon">
            <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
            <input type="text" class="form-control" bs-datepicker data-date-format="yyyy-MM-dd" ng-model="newDetailExpenseTask.start_at">
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <label><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.expense_type">Expense Type</span></label>
        <select class="form-control selectpicker" data-container="body" ng-model="newDetailExpenseTask.details.category" ng-options="expense.value as expense.label for expense in expenseTypeList">
          <option value=""><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.select">Select</span></option>
        </select>
      </div>
      <div class="col-xs-3">
        <label><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.purpose">Purpose</span></label>
        <select class="form-control selectpicker" ng-model="newDetailExpenseTask.details.purpose" ng-options="purpose.value as purpose.label for purpose in purposeList">
          <option value=""><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.select_one">Select One</span></option>
        </select>
      </div>
      <div class="col-xs-3">
        <label><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.payment_type">Payment Type</span></label>
        <select class="form-control selectpicker" ng-model="newDetailExpenseTask.details.payment" ng-options="payment.value as payment.label for payment in paymentTypeList">
          <option value=""><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.select">Select</span></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-2">
        <label class="currency"><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.currency">Currency</span></label>
        <select class="form-control selectpicker" data-container="body" ng-model="newDetailExpenseTask.details.currency" ng-options="currency.value as currency.label for currency in currencyList">
          <option value=""><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.select">Select</span></option>
        </select>
      </div>
      <div class="col-xs-2">
        <label><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.rate">Rate</span></label>
        <input type="text" class="form-control" ng-model="newDetailExpenseTask.details.rate">
      </div>
      <div class="col-xs-2">
        <label><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.amount">Amount</span></label>
        <input type="text" class="form-control" ng-model="newDetailExpenseTask.details.amount">
      </div>
      <div class="col-xs-6">
        <label><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.attachment">Attachment</span></label>
        <div class="input-file" ng-file-select ng-multiple="true" ng-file-change="onFileSelect($files)">
          <span>{{fileUploadName}}</span>
          <span class="btn btn-sm btn-upload">
             <span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.upload">Upload</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <label><span class="translation_missing" title="translation missing: en.visitors.create_expense_detail.memo">Memo</span></label>
        <textarea rows="2" class="form-control" ng-model="newDetailExpenseTask.details.memo"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="pull-left">
          <button type="submit" class="btn btn-sm btn-primary" ng-click="submitNewDetailTask(newDetailExpenseTask)">Save</button>
          <a href="javascript:;" class="btn link-gray btn-link link-cancel" ng-click="cancelCreate()">Cancel</a>
        </div>
      </div>
    </div>
  </form>
</div>

    <!-- End Task Detail Partials -->

    <!-- Page Activities Partial -->
    <div class="page-activities">
      <h2><span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.activities">Activities</span></h2>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <div class="activities">
            <form class="comment-input">
              <div class="form-group">
                <textarea type="text" class="form-control" rows= "4" ng-model="comment"></textarea>
              </div>
              <div class="clearfix">
                <div class="btn btn-primary pull-left" ng-click="submitComment()"><span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.send">Send</span></div>
                <div class="input-file input-file-link pull-right">
                  <a href="javascript:void(0);" ng-file-select ng-multiple="true" ng-file-change="uploadAttachment($files)"><i class="pi pi-paperclip"></i> Attach File</a>
                </div>
              </div>
            </form>
            <!-- Start ng-repeat -->
            <div class="activities-msg">
              <div class="activity">
                <div class="avatar">
                  <span class="timestamp">2 minutes ago</span>
                  <div class="avatar-img">
                    <img alt="Img avatar default" class="img-circle" src="assets/img-avatar-default.png">
                    <div class="avatar-initials">
                      JD
                    </div>
                  </div>
                </div>
                <div class="block block-default no-border">
                  <span ng-if="activity.key == 'task.attachment.add'" ng-bind-html="translate('tasks.attachment_uploaded', {url: activity.parameters.data, file_name: activity.parameters.name}) | to_trusted">
                  </span>
                  <span ng-if="activity.key == 'task.approved' || activity.key == 'task.cancelled'" >
                    {{activity.key != 'tasks.approved' ? translate('tasks.approved_this_task') : translate('tasks.cancelled_this_task')}}
                  </span>
                  <span ng-if="activity.key == 'task.newcomment'" >
                    {{activity.parameters.data}}
                  </span>
                </div>
              </div>
            </div>
            <!-- End repeat -->
            <div class="text-center">
              <button class="btn btn-md btn-secondary show-more" type="button" ng-click="getShowableActivities(1)" ng-show="showableActivities.length > 0 && showableActivities.length < totalActivitiesCount"><span class="translation_missing" title="translation missing: en.visitors.static_show_expense_detail.show_all_activities">Show All Activities</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- // End Page Activities Partial -->
        </div>
      </div>
    </div>
  </main>
  <!--[if lt IE 9 ]>
  <script data-turbolinks-track="true" src="assets/rem.min-36d30ee143fefb945a7308693a162f9e.js"></script>
  <![endif]-->
    <script type="text/javascript">
  $(function(){
    var stickyHeaderPos = $(".sticky-header").offset().top + $(".sticky-header").height();
    var scrollPos = 0;

    $(window).on('scroll', function(){
      scrollPos = $(window).scrollTop();

      if(scrollPos > stickyHeaderPos){
        $(".sticky-header").addClass("affix");
      }else{
        $(".sticky-header").removeClass("affix");
      }
    })
  })
  </script>

  <script>
  I18n.defaultLocale = "en";
  </script>
</body>
</html>
